/* Contenedor del formulario */
.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.8); */ /* Fondo blanco semitransparente */
    /* border: 1px solid #ddd;*/ /* Borde del contenedor */
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Geist mono';
}

.task-form h1{
    text-align: center;
}

/* Input de texto */
.task-form input[type="text"],
.task-form textarea{
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Geist mono';
}

/* Grupo de formulario */
.form-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
}

/* Etiqueta */
.form-group label {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: auto 0;
}

/* Campo select */
.form-group select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Geist mono';
}

/* Botones */
.task-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: 'Geist mono';
}

/* Botón Guardar */
.task-form button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.task-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Botón Limpiar/Cancelar */
.task-form button[type="button"] {
    background-color: #6c757d;
    color: white;
}

.task-form button[type="button"]:hover {
    background-color: #5a6268;
}

/* Indicador de estado de la base de datos */
.db-status {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.db-connected {
    color: green;
}

.db-disconnected {
    color: red;
}