body {
  font-family: "Geist Mono", monospace;

  /* Configuración del fondo */
  background-image: url('./images/background.webp'); /* Ruta a la imagen de fondo */
  background-size: cover; /* Escala la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantén el fondo fijo */
}

.app-header {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 20px auto;
}

.app-content {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  margin: 20px auto;
}